<html>
  <head>
     <title>Nueva empresa</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
         <img src="https://lh3.googleusercontent.com/proxy/w9QbZaWzRMulRMQsIH-U-OGIenUokw4XKEs7NEKMIoa3_DY_RXMM2jwghPya0MDOW_mp6P7eLFTABVbjTEGzYaUEAXQfgGS33X49_VA" width="60" height="40" class="d-inline-block align-top" alt="">
         Taller de proyectos
         </a>
        </nav>

    
    <div class="container"><br>
      <center>
        <h2>Ingreso nueva empresa</h2>
      </center>
    </div>

    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la empresa">
            <br>
          <label for="rut">Rut:</label>
          <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut empresa">
	    <br>
	  <label for="direccion">Direccion:</label>
	  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección (calle y número)">
	    <br>
	  <label for="ciudad">Ciudad:</label>
	  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad">
      <br>
	  <label for="region">Region:</label>
	  <input type="text" class="form-control" id="region" name="region" placeholder="Ingrese la region">
      <br>
	  <label for="pais">Pais:</label>
	  <input type="text" class="form-control" id="pais" name="pais" placeholder="Ingrese el pais">
      <br>
	  <label for="contacto">E-mail:</label>
	  <input type="email" class="form-control" id="email" name="email" placeholder="correo eléctronico">
      <br>
	  <label for="tel">Teléfono:</label>
	  <input type="number" class="form-control" id="tel" name="tel" placeholder="Ingrese el teléfono de contactos">

	</div>
        <br>													   

        <center>
            <a href="/" class="btn btn-primary">Agregar</a>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>