<html>
    <head>
        <title> Calculo fortificacion</title>
    </head>
    <body>
        <form>
            <section>Datos</section>
            <textarea>Nombre</textarea>
            <br>
            <br>
            <br>
            <textarea>Cliente</textarea>
            <br>
            <br>
            <br>
            <textarea>Obra</textarea>
            <br>
            <br>
            <br>
            <textarea>Estacion geomecanica</textarea>
            <br>
            <br>
            <br>
            <textarea>Localidad</textarea>
            <br>
            <br>
            <br>
            <textarea>Observaciones</textarea>
            <br>
            <br>
            <br>
            <date>Fecha</date>
            <section>Uso</section>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione uso</option>
                <option value="Bajo"> Bajo</option>
                <option value="Moderado">Moderado</option>
                <option value="Alto">Alto</option>
              </select>
            <section></section>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione</option>
                <option value="Bajo"></option>
                <option value="Moderado">Two</option>
                <option value="Alto">Three</option>
              </select>
              <button onsubmit="">Siguiente</button>
        </form>

    </body>
</html>